<h2>Create a new movie</h2>
<form action="/create-movie" method="POST">
  <input type="text" placeholder="Title" name="title" id="title" />
  <input type="text" placeholder="Director" name="director" id="director" />
  <input type="text" placeholder="Image" name="image" id="image" />
  <input
    type="text"
    placeholder="Description"
    name="description"
    id="description"
  />
  <input type="submit" value="Send movie to database" />
</form>